.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-tarifas_generales {
  width: 0.8681640625em;
}

.icon-asiento-blanco {
  width: 0.8681640625em;
}

.icon-Pantalla_Blanco {
  width: 0.8681640625em;
}

.icon-camara {
  width: 0.8681640625em;
}

.icon-descuentos {
  width: 0.8681640625em;
}

.icon-reloj {
  width: 0.8681640625em;
}

.icon-reservas {
  width: 0.8681640625em;
}

.icon-pin-ubicacion {
  width: 0.8681640625em;
}

.icon-MUJERES {
  width: 0.8681640625em;
}

.icon-Baos-de-hombres {
  width: 0.8681640625em;
}

.icon-city-tour {
  width: 0.8681640625em;
}

.icon-Punto-a-punto {
  width: 0.8681640625em;
}

.icon-Servicio-con-estancia {
  width: 0.8681640625em;
}

.icon-Transfer {
  width: 0.8681640625em;
}

.icon-ubicacion {
  width: 0.8681640625em;
}

.icon-Viaje-consecutivo {
  width: 0.8681640625em;
}

.icon-Viaje-sencillo {
  width: 0.8681640625em;
}

.icon-arrow-bg-blue {
  width: 0.982421875em;
}

.icon-Aire-acondicionado {
  width: 0.8681640625em;
}

.icon-Asiento {
  width: 0.8681640625em;
}

.icon-Baos {
  width: 0.8681640625em;
}

.icon-Cinturon-de-seguridad {
  width: 0.8681640625em;
}

.icon-conexiones {
  width: 0.8681640625em;
}

.icon-entretenimiento {
  width: 0.8681640625em;
}

.icon-Equipaje {
  width: 0.8681640625em;
}

.icon-Iluminacion {
  width: 0.8681640625em;
}

.icon-salida-de-emergencia {
  width: 0.8681640625em;
}

.icon-tv {
  width: 0.8681640625em;
}

.icon-whatsapp-bg-blue {
  width: 0.8681640625em;
}

.icon-wifi {
  width: 0.8681640625em;
}

.icon-Audifonos-prueba {
  width: 0.8681640625em;
}
