@use '../core' as*;

// Import components
@use '../_06-components/header';
@use '../_06-components/banner-slider';
@use '../_06-components/payments-logos';
@use '../_06-components/destinations-grid';
@use '../_06-components/other-services-programs';
@use '../_06-components/slider-blog';
@use '../_06-components/list-destinations';
@use '../_06-components/tickets-sales-locations';
@use '../_06-components/button-whats';
@use '../_06-components/button-eva-trip';
@use '../_06-components/modal-doters';
@use '../_06-components/modalDoters';
@use '../_06-components/cotiza';
@use '../_06-components/section-title';
@use '../_06-components/cookies-policy';
@use '../_06-components/footer';