@use '../core' as*;
@use '../_01-settings/variables' as *;
@use '../_02-tools/mixin' as *;

// Import components
@use '../_06-components/header';
@use '../_06-components/banner-slider';
@use '../_06-components/payments-logos';
@use '../_06-components/modal-doters';
@use '../_06-components/modalDoters';
@use '../_06-components/cotiza';
@use '../_06-components/button-eva-trip';
@use '../_06-components/button-whats';
@use '../_06-components/section-title';
@use '../_06-components/cards-text-list';
@use '../_06-components/footer';

@use '../_06-components/cookies-policy';


.section__boletos-de-autobus {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 12.5rem);
  padding: 0 $spacing-xxl $spacing-xxl $spacing-xxl; // 4.375rem
  box-sizing: border-box;

  @include media ("md") {
    padding: 0 $padding-medium $padding-medium $padding-medium;
  }

  .__boletos-de-autobus__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    width: 100%;
    height: 56px;

    .__text__title {
      color: $white;
    }
  }

  .__boletos-de-autobus__text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    margin-top: 50px;

    .__text__paragraph {
      text-align: center;
      font-size: 20px;

      .__text__bold {
        color: $primary-color;
      }
    }

    .__boletos-de-autobus__scrollbar {
      display: flex;
      justify-content: start;
      align-items: start;
      width: 100%;
      height: 430px;
      margin-top: 50px;
      gap: 57px;
      overflow-x: auto;
    }
  }
}