@use '../core' as*;
@use '../_01-settings/variables' as *;

// Import components
@use '../_06-components/header-pack-multienlace' as *;
@use '../_06-components/banner-slider' as *;
@use '../_06-components/cotiza-pack' as *;
@use '../_06-components/section-title' as *;
@use "../_06-components/footer-pack-multienlace" as *;
@use '../_06-components/cookies-policy' as *;
@use '../_06-components/card-bg-primary' as *;
@use '../_06-components/card-small-list' as *;

.__subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-style: bold;
    text-align: center;
    margin-top: 15px;
}

.__paragraph {
    display: flex;
    width: 80%;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    text-align: left;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    color: black;
}

@media (max-width: 990px) {
    .__paragraph {
        width: 90%;
        text-align: center;
    }

}

.__article-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;

    @media (max-width: 990px) {
        width: 90%;
    }

    .__grid-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 767px) {
            flex-direction: column;
            height: auto;
        }


        .__grid-row__text {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            width: 50%;
            padding: 20px;

            @media (max-width: 767px) {
                order: 1;
            }


            @media (max-width: 767px) {
                width: 100%;
            }


            .__title-grid {
                text-align: center;
                font-size: 25px;
                margin-bottom: 20px;
            }

            .__content {
                text-align: left;
                font-size: 18px;
                margin-bottom: 20px;
                line-height: 30px;


            }
        }

        .__grid-row__img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin-top: 15px;
            margin-bottom: 15px;

            @media (max-width: 767px) {
                order: 2;
            }


            @media (max-width: 767px) {
                width: 100%;
            }


            .__img__grid {
                width: 70%;
            }
        }
    }
}

.__grid-row-restriction {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;

    @media (max-width: 990px) {
        flex-direction: column;
        width: 90%;
    }

    .__content-text {
        text-align: left;
        font-size: 20px;
        padding: 30px;
        width: 70%;
        font-weight: bold;

        @media (max-width: 990px) {
            width: 100%;
            padding: 15px;
        }

    }

    .__content-list {
        width: auto;
        text-align: left;
        background-color: $secondary-color;
        padding: 30px;
        color: white;
        font-size: 18px;
        border-radius: 15px;
        list-style: none;
    }

    .__content-list li::before {
        content: "- ";
        margin-right: 5px;
    }
}

@media (max-width: 767px) {
    .__grid-row-restriction {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

.__grid-row-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;

    .__options-content-text {
        text-align: justify;
        font-size: 20px;
        padding: 20px;
        width: 50%;
        height: 200px;
        align-items: start;
        justify-content: center;

    }
}

@media (max-width: 990px) {
    .__grid-row-options {
        flex-direction: column;
        width: 90%;
    }

    .__grid-row-options .__options-content-text {
        width: 100%;
        height: auto;
        padding: 15px;
    }
}