@use '../core' as *;
@use '../_01-settings/variables' as *;
@use '../_02-tools/mixin' as *;

// Import components
@use '../_06-components/header';
@use '../_06-components/footer';
@use '../_06-components/modal-doters';
@use '../_06-components/modalDoters';
@use '../_06-components/cotiza';
@use '../_06-components/banner-slider';
@use '../_06-components/section-title';
@use '../_06-components/app-card-doters';
@use '../_06-components/cookies-policy';


// Import utilities
@use '../_07-utilities/utilities' as *;




.__section__taquilla-exclusiva {
    display: flex;
    background-color: $bg-card-primary;
    width: 100%;
    height: auto;
    padding: 20px 70px;
    justify-content: center;
    align-items: center;
    margin-top: 0px;

    @include media("md") {
        padding: 20px 30px;
    }

    .__paragraph__xxl {
        display: flex;
        font-size: 30px;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        color: $primary-color;
        line-height: 50px;

        @include media("sm") {
            font-size: 24px;
            line-height: 36px;
        }
    }
}

.__section__taquilla-exclusiva__ask {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px 70px;
    justify-content: center;
    align-items: center;

    @include media("md") {
        padding: 20px 30px;
    }

    .__section__taquilla-exclusiva__title {
        display: flex;
        font-size: 40px;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        color: $primary-color;
        line-height: 50px;

        @include media("sm") {
            font-size: 32px;
            line-height: 40px;
        }
    }

    .__paragraph__xl {
        display: flex;
        font-size: 20px;
        text-align: center;
        justify-content: center;
        font-weight: bold;
        color: $primary-color;
        line-height: 40px;

        @include media("sm") {
            font-size: 18px;
            line-height: 30px;
        }
    }
}

.__section__taquilla-exclusiva__cards {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 80px;

    .__section__taquilla-exclusiva__cards__items {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 70px;
        position: relative;
        z-index: 1;
        gap: 20px;

        @include media("md") {
            flex-direction: row;
            overflow-x: auto;
            overflow-y: hidden;
            width: 100%;
            padding: 0 10px;
            justify-content: flex-start;

            .card-doters {
                width: 320px;
            }
        }
    }

    .__section__taquilla-exclusiva__cards__bg {
        position: absolute;
        top: calc(249px - 48px);
        left: 0;
        width: 100%;
        height: 300px;
        background-color: $doters-color;
        z-index: 0;

        @include media("lg") {
            height: 60%;
        }
    }
}

.__section__taquilla-exclusiva__explication {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 0 70px;
    align-items: center;
    justify-content: center;

    @include media("md") {
        padding: 0 30px;
    }

    .__section__taquilla-exclusiva__explication__title {
        display: flex;
        font-size: 50px;
        text-align: center;
        justify-content: center;
        font-weight: bold;

        @include media("sm") {
            font-size: 36px;
        }
    }

    .__section__taquilla-exclusiva__explication__text {
        position: relative;
        margin-top: 30px;
        display: flex;
        width: 47%;
        background-color: $bg-card-primary;
        font-size: 25px;
        text-align: start;
        justify-content: center;
        color: $doters-color;
        line-height: 40px;
        padding: 20px;

        @include media("lg") {
            width: 70%;
        }

        @include media("md") {
            width: 90%;
            font-size: 20px;
        }

        .__section__taquilla-exclusiva__explication__red {
            position: absolute;
            top: -20px;
            left: -50px;
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;

            @include media("sm") {
                left: -20px;
                top: -40px;
            }
        }

        .__section__taquilla-exclusiva__explication__green {
            position: absolute;
            top: calc(270px - 48px);
            right: -10px;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;

            @include media("sm") {
                right: -5px;
                top: calc(100% - 25px);
            }
        }
    }

    .__section__taquilla-exclusiva__explication__button {
        margin-top: 30px;
        display: flex;
        width: auto;
        padding: 15px 20px;
        background-color: #01AE43;
        text-align: center;
        text-decoration: none;
        color: white;
        border-radius: 20px;
        transition: all 0.3s ease-in-out;

        &:hover {
            background-color: $doters-color;
            transition: all 0.3s ease-in-out;
        }

    }
}