@use '../core' as*;

// Import components
@use '../_06-components/header-pack-multienlace' as *;
@use '../_06-components/banner-slider' as *;
@use '../_06-components/cotiza-pack' as *;
@use '../_06-components/section-title' as *;
@use "../_06-components/footer-pack-multienlace" as *;
@use '../_06-components/cookies-policy' as *;
@use '../_06-components/card-bg-secondary' as *;



.__subtitle {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-style: bold;
    text-align: center;
    margin-top: 15px;
    width: 50%;

}

.__paragraph {
    display: flex;
    width: 80%;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    text-align: left;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    color: black;
}