@use '../_01-settings/variables' as *;

app-card-doters {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-bottom: 40px;

}

.card-doters {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
    width: 320px;
    height: 430px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-bottom: 40px;
    position: relative;



    .__card-doters__img {
        width: 100%;
        height: 200px;
        margin-bottom: 2.5rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
    }

    .__card-doters__number {
        position: absolute;
        top: calc(230px - 48px);
        left: 20px;
        font-size: 1rem;
        color: white;
        background-color: $doters-color;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .__card-doters__content {
        width: 90%;

        .__card-doters__title {
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 0.5rem;
            color: #333;
        }

        .__card-doters__text {
            font-size: 1rem;
            color: #555;
            line-height: 1.5;
        }
    }

    .__card-doters__logo {
        position: absolute;
        top: calc(450px - 48px);
        right: -10px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }
}