@use '../_01-settings/variables' as *;


.__card-image-top {
    display: flex;
    width: 300px;
    height: auto;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .2);
    margin: auto;

    @media (max-width: 440px) {
        width: 100%;
    }


    .__card-image-top-img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .__card-image-top-text {
        height: 200px;
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 10px;

        .__card-image-top-text-title {
            font-size: 20px;
            font-weight: 700;
            color: $primary-color;
            margin-bottom: 15px;
            text-align: center;
        }

        .__card-image-top-text-content {
            font-size: 17px;
            color: $primary-color;
            text-align: center;
            line-height: 1.4;
        }
    }
}