@use '../_01-settings/variables' as *;

app-card-right-description {
    display: block;
    width: 100%;
}

.card-right {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    width: 100%;
    min-height: 250px;
    background-color: white;
    gap: 1rem;

    .card-content {
        display: flex;
        width: 100%;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        border-radius: 15px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

        .title-card {
            font-size: 22px;
            font-weight: bold;
            color: $primary-color;
            margin-bottom: 15px;
        }

        .text-card {
            font-size: 16px;
            color: $primary-color;
            line-height: 1.5;
            text-align: left;
        }
    }

    .card-image {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}