@use '../_01-settings/variables' as *;
@use '../_02-tools/mixin' as *;

app-section-title {
    display: block;
    width: 100%;
}

.__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    width: 100%;
    height: 3.5rem;
    text-align: center;
    color: $white;

    @include media("md") {
        height: 4.5rem;
    }
}