// Estilos del botón

.btn-travelpass-active {
  display: block;
  @include media ("lg") {
    display: none;
  }
}
.btn-travelpass {
  border-radius: 0.625rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: 2.1rem;
  border-radius: 0.625rem;
  border: 0.125rem solid #15395a;
  padding: 0.250rem;
  background-color: white;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
  a img {
    width: auto;
    height: 100%;
  }
  @include media("lg") {
    margin-top: 0 !important;
    border-radius: 0.625rem;
    height: 3.5rem;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.btn-travelpass__submenu {
  width: 6rem;
  height: auto;
  a img {
    width: 100%;
    height: auto;
  }
}

.ModalTravelPs {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 2.7rem;
  max-width: 593px;
  width: 100%;
  max-height: 680px;
  height: 100%;
  position: relative;
  background: #fff;
  //background: linear-gradient(to bottom, #fff 0%, #fff 50%, #003B60 50%, #003B60 100%);
  @include media("md") {
    max-width: 100%;
    max-height: 100%;
    padding: 2.7rem 1rem;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.2rem 0.5rem;
  font-size: 24px;
  border: none;
  border-radius: 0.2rem;
  color: #fff;
  background-color: #003B60;
  cursor: pointer;
}

.card-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 2.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  gap: 0.3rem;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-logo {
  width: auto;
  height: 50px;
  aspect-ratio: auto;
}

.titulo-2 {
  color: #0057D6;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

.subtitle {
  color: #0057D6;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.brand-selector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
}

.brand-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 130px;
  width: 100%;
  height: auto;
  padding: 1rem;
  aspect-ratio: 4/3;
  border: none;
  border-radius: 1.5rem;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: ease 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  &.selected {
    transform: scale(1.1);
    border: 2px solid #0057D6;
  }
  @include media("md") {
    max-width: 100px;
  }
}

.__image__button-size {
  width: 100%;
  height: auto;
  aspect-ratio: auto;
}

.__login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 0.5rem;
}

.__section-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 0.5rem;
  border: none;
}

label {
  color: #003B60;
  text-align: start;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 121.51%; /* 24.302px */
}

input {
  width: 100%;
  height: 46px;
  padding: 0.2rem 1rem;
  font-size: 1rem;
}

.__submit-button, .btn-cuenta {
  width: 235px;
  height: 43px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: #009159;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.55);
  transition: ease 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.__card-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

.w-modal-link {
  color: #0057D6;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.bold {
  font-weight: 700;
  text-decoration: underline;
}

.message {
  font-size: 1em;
  margin-top: 10px;
  color: red; /* Color predeterminado para mensajes de error */
}

/* También hay una regla específica para el modal de logueado: */
#modalTravelPassLogueado .modal-content {
  text-align: center;
}

.modalContenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#user-name,
#user-balance {
  margin: 10px 0;
  font-size: 1.2em;
  color: #333;
}

.btn-logout {
  width: 235px;
  height: 43px;
  color: #009159;
  border: 2px solid #009159;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.55);
  transition: ease 0.3s;
  transition: background-color 0.3s;
  &:hover {
    color: #fff;
    border: none;
    background-color: #c82333;
    transform: scale(1.1);
  }
}