@import "../main.scss";
  
  .cotiza {
    position: fixed;
    top: 5.25rem;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 10px;
    background-color: $primary-color;
    z-index: 9;
    transition: all 0.3s ease;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    align-content: center;
    text-align: center;
    transition: transform 0.8s ease;
  
    &.hidden {
      transform: translateY(-80%);
    }
  
    &.visible {
      transform: translateY(0);
    }
  }
  @media screen and (max-width:900px) {
    .cotiza {
      position: relative; /* Cambiado de sticky a relative */
      width: 100%;
      z-index: 9;
      transition: transform 0.8s ease;
    }
  }

  @include media("sm") {
    .cotiza {
      top: 70px; /* Asegura que quede pegado a la parte superior */
      transition: all 0.3s ease;
      transition: transform 0.8s ease;
    }
  }
  