@import '../main';

// Import components
@import './header';
@import './banner-slider';
@import './payments-logos';
@import './modal-doters';
@import './cotiza';
@import './button-eva-trip';
@import './button-whats';
@import './card-image';
@import './section-title';
@import './_dropdown';
@import './footer';
@import './cookies-policy';

/*-------------------ESTILOS ESPECIFICOS PARA LAS SECCIONES DE RENTA DE AUTOBUSES---------------------*/

.__grid-cards-container__dropdown {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 50px;
}