@import '../_02-tools/mixin';

// Import generic
@import '../_03-generic/reset';

// Import elements
@import '../_04-elements/elements';

// Import object
@import '../_05-object/animations';
@import '../_05-object/layout';

// Import components
@import './header';
@import './footer';
@import './payments-logos';
@import './button-whats';
@import './button-eva-trip';
@import './modal-doters';
@import './modalDoters';
@import './cotiza';
@import './banner-slider';
@import './section-title';
@import './app-card-open-modal';
@import './dropdown';
@import './slider-opacity';
@import './modal-multi-image';
@import './modal-image';


// Import utilities
@import '../_07-utilities/utilities';
@import '../_06-components/cookies-policy';

.__section__grid{
    margin-top: 0px;
    margin-bottom: 0px;
}

.__paragraph {
    display: flex;
    justify-content: start;
    width: 100%;
    color: $primary-color;
    text-align: justify;
    font-size: 20px;
}

.__paragraph__xl {
    display: flex;
    justify-content: start;
    width: 100%;
    color: $primary-color;
    text-align: justify;
    font-size: 25px;
}

.__subtitle__destinos {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    color: $primary-color;
    font-weight: bold;
}

.grid-container {
    display: grid;
    width: 90%;
    margin: 0 auto; 

    grid-template-columns: 1fr;
    gap: 0.75rem; 
    grid-auto-rows: auto; 

    @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem; 
        grid-auto-rows: 280px;
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px; 
    }
}

.card {
    position: relative;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    padding: 0.75rem; 
    text-align: center;
    cursor: pointer;
    background: none;
    z-index: 1;

    @media (max-width: 767px) { 
        aspect-ratio: 1 / 1; 
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: inherit;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: transform 0.9s ease-in-out;
        z-index: 0;
    }

    &:hover::before {
        transform: scale(1.07);
    }

    @media (min-width: 768px) {
        padding: 1rem; 
    }

    span {
        position: relative;
        z-index: 1;
        background-color: $primary-color;
        border-radius: 0.5rem;
        padding: 0.8rem 1.5rem; 
        font-size: 0.9rem; 
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

        &:hover {
            background-color: white;
            color: $primary-color;
        }

        @media (max-width: 767px) { 
            padding: 0.5rem 1rem;
            font-size: 0.8rem;
        }
    }
}

.card-wide {
    grid-column: span 2;
    grid-row: span 1;

    @media (max-width: 767px) {
        grid-column: span 1; 
        grid-row: span 1;   
    }
}

.card-tall {
    grid-row: span 2;

    @media (max-width: 767px) {
        grid-row: span 1;   
        grid-column: span 1; 
    }
}

.__grid-cards-container__dropdown{
    width: 80%;
}
.container-cards__food {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 1rem;
}

.container-slider-other{
    width: 100%;

}