@import '../main';

// Import components
@import './header';
@import './modal-doters';
@import './cotiza';
@import './button-eva-trip';
@import './button-whats';
@import './section-title';
@import './app-banner-image';
@import './app-description-destination';
@import './app-explore-section';
@import './footer';
@import './banner-multi-image';
@import './card-image-tag-text';
@import './destiny-slider';

// Import utilities
@import '../_07-utilities/utilities';


/*--------------------ESTILOS REPETITIVOS DEL LAYOUT RENTA DE AUTOBUSES---------------------*/

.__first-section {
  margin-top: 12rem;
}

.text-description {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: justify;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 2vw;
  color: $primary-color;

  @include media("md") {
    font-size: 3.5vw;
  }
}

.text-description-list {
  display: flex;
  width: 80%;
  justify-content: space-between;
  text-align: center;
  margin: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1.7vw;
  font-weight: bold;
  color: $primary-color;

  @include media("md") {
    font-size: 3.5vw;
  }
}

.text-list {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-between;
  text-align: justify;
  margin: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
  font-size: 1.8vw;
  font-weight: bold;
  color: $primary-color;

  .item-list {
    margin-bottom: 30px;
  }

  @include media("md") {
    font-size: 3.5vw;
  }
}
@include media("lg") {
  .__first-section {
    margin-top: 10rem; // 13rem
  }
}

@media screen and (min-width:481px) and (max-width:900px) {
  .__first-section {
    margin-top: 5rem !important;
  }
}

@media screen and (max-width:480px) {
  .__first-section {
    margin-top: 4rem !important; // 4rem
  }
}