@import '../main';

// Import components
@import './header';
@import './banner-slider';
@import './payments-logos';
@import './modal-doters';
@import './modalDoters';
@import './cotiza';
@import './button-eva-trip';
@import './button-whats';
@import './card-image';
@import './section-title';
@import './table-pets';
@import './footer';
@import './cookies-policy';


.__sections{
    width: 100%;
    padding: 35px 70px;
    @include media ("md") {
        padding: 15px;
    }
    padding-top: 0;
}
.__sections-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px 70px;
    @include media ("md") {
        padding: 15px;
    }
    gap: 10px;
    .__link {
        color: $primary-color;
        font-size: 20px;
        font-weight: 400;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: auto;
        text-underline-position: from-font;
    }
}
.__bg-white {
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: $white;
    text-align: left;
    box-sizing: border-box;
    width: 100%;
    padding: 15px 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 15px;
    @include media ("md") {
        padding: 15px;
    }
}

.__bg-blue {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    box-sizing: border-box;
    background-color: $bg-card-primary;
    padding: 15px 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 15px;
    @include media ("md") {
        padding: 15px;
    }
}

.__subtitle-section {
    justify-content: left;
    text-align: left;
    color: $primary-color;
}

p {
    color: $primary-color;
    text-align: justify;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.__link-text {
    color: $primary-color;
    font-size: 20px;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}
.__terms-purchase-list {
    display: flex;
    flex-direction: column;
    list-style-position: outside;
    padding-left: 20px;
    gap: 10px;
      .__terms-purchase-item {
        &::marker {
            color: $primary-color; // O el color que prefieras para los números
            font-weight: 700;      // Ejemplo: hacerlo más grueso
            font-size: 20px;       // Asegurar que coincida con el texto o ajustarlo
        }
      }
}



.__order-list-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style-position: outside;
    gap: 80px;
}

.__order-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: numeric;
}

.__item-text-bold {
    color: $primary-color;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.__item-text {
    text-align: center;
    font-size: 20px;
}

.__order-list-column {
    display: flex;
    flex-direction: column;
    list-style-position: outside;
    padding-left: 20px;
    gap: 10px;
}

