@use '../_01-settings/variables' as *;
@use 'sass:map';

// Mixin para aplicar media queries fácilmente
@mixin media($size) {
  @if map.has-key($breakpoints, $size) {
    @media (max-width: map.get($breakpoints, $size)) {
      @content;
    }
  }

  @else {
    @warn "⚠️ El breakpoint `#{$size}` no está definido en el mapa de breakpoints.";
  }
}

// Mixin para media queries con max-width (hacia abajo)
@mixin media-down($size) {
  @if map.has-key($breakpoints, $size) {
    @media (max-width: map.get($breakpoints, $size)) {
      @content;
    }
  }

  @else {
    @warn "⚠️ El breakpoint `#{$size}` no está definido en el mapa de breakpoints.";
  }
}

// Mixin para orientación horizontal (landscape)
@mixin media-landscape {
  @media (orientation: landscape) {
    @content;
  }
}