@use '../_01-settings/variables' as *;
@use '../_02-tools/mixin' as *;

// Import components

body {
  font-family: $font-primary;
  font-size: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

.__section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: $spacing-xl;
  padding: 0 $spacing-xxl $spacing-xxl $spacing-xxl;
  box-sizing: border-box;
  overflow: hidden;
  gap: 34px;
  @include media ("md") {
    padding: 0 $padding-medium $padding-medium $padding-medium;
  }
}

.__paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: $primary-color;
  text-align: center;
  font-size: 20px;
}


h2 {
  color: $primary-color;
}