// Import settings
@use './_01-settings/fonts' as *;
@use './_01-settings/icons' as *;
@use './_01-settings/variables' as *;

// Import tools
@use './_02-tools/mixin' as *;

// Import generic
@use './_03-generic/reset' as *;

// Import elements
@use './_04-elements/elements' as *;

// Import object
@use './_05-object/animations' as *;
@use './_05-object/layout' as *;

// Import utilities
@use './_07-utilities/utilities' as *;

// Import libreries

@use './_07-utilities/_slick-slider/slick' as *;
@use './_07-utilities/_slick-slider/slick-theme' as *;